<h1>Editing Setlist</h1>

<%= turbo_frame_tag dom_id(@setlist) do %>
  <div class="setlists">
    <%= render 'edit_form', setlist: @setlist %>
    <%= link_to "Cancel", @setlist %>
  </div>
<% end %>
